@import "tailwindcss";

@theme {
  --color-brand-50: #fff7ed;
  --color-brand-100: #ffedd5;
  --color-brand-500: #f97316;
  --color-brand-600: #ea580c;
  --color-brand-900: #7c2d12;

  --color-surface-light: #ffffff;
  --color-surface-dark: #0a0a0a;
}
